{% extends "blogapp/base.html" %} {% block header %}{{ blog.title }}{% endblock %} {% block content %}
<p>Author: {{ blog.author.username }}</p>
<div class="blog-content">
    <p>{{ blog.content }}</p>
</div>
<div class="button-container">
    <a href="{% url 'blogapp:edit_blog' blog.id %}">
        <button type="button" class="button">Edit</button>
    </a>
    <a href="{% url 'blogapp:delete_blog' blog.id %}">
        <button type="button" class="button-destructive">Delete</button>
    </a>
    <a href="{% url 'blogapp:index' %}">
        <button type="button" class="button-secondary">Back</button>
    </a>
</div>
{% endblock %}
