{% extends "blogapp/base.html" %} {% block header %}Blog's{% endblock %} {% block content %} {% if blogs %}
<div class="blog-list">
	{% for blog in blogs %} {% include "blogapp/components/blog-card.html" with blog=blog %} {% endfor %}
</div>
{% else %}
<p>No blogs are available.</p>
{% endif %}

{% if user.is_authenticated %}
	<div class="button-container">
		<a href="{% url 'blogapp:create_blog' %}">
			<button
				type="button"
				class="button">
				Create Blog
			</button>
		</a>
	</div>
{% endif %}
{% endblock %}
